body { 
    background-color: #303030;  
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background: url(../images/flak-logo-transparent.png) no-repeat;
    background-color: #444;
    background-size: auto 100%;
    background-position: center;
    height: 200px;
    margin-top: auto;    
}

/* #styleChangerBtn {
    margin-left: -24em;
    margin-top: auto;
} */

.card {
  border: none;
}

#sidebar .card .card-body, #messages .card .card-body {
  background-color: #444;
}

.card{
    background-color: #444;
}

.form-control:active, .form-control:enabled, .form-control-focus, .form-control{
    background-color: #444;
    color: #b3bfc0;
    border:none;
    /* border: 1px solid rgb(127, 188, 192); */
}

#chooseUser{
    border:none;
}


#activeUsers {
  color: white;
}

#chatlog >:nth-child(even){
    color: white;
    border: 1px solid rgb(127, 188, 192);
    background-color: rgb(109, 145, 165);
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

#chatlog >:nth-child(odd) {
    color: white;
    border: 1px solid rgb(127, 188, 192);
    background-color: #4f6e74;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

#activeUsers{
    background-color: #303030;
}

h3{
    color:#ffffff;
}