/* scroll bar css */
/* ---------------------------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ---------------------------------- */
body { 
    background-color: rgb(208, 228, 227);  
    font-family: Arial, Helvetica, sans-serif;  
}

.jumbotron {
    background: url(../images/flak-logo-transparent.png) no-repeat;
    background-color: white;
    background-size: auto 100%;
    background-position: center;
    height: 200px;
    margin-top: auto;    
}

#themeDrop {
    position: absolute;
    top: 3%;
    right: 3%;
}

/* #styleChangerBtn {
    margin-left: -24em;
    margin-top: auto;
} */

#userName {
    background-color: rgb(54, 132, 138);
    font-size: 30px;
    color: white;
}

#messageBlock {
    visibility: hidden;
}

#dropupBtn {
    color: black;

}

#chooseUser {
    border: 1px solid rgb(127, 188, 192);
    border-radius: 5px;
    padding: 10px;
}

.btn {
    padding: 0 8px 0 8px;
    background-color: rgb(127, 188, 192);
    border: none;
}

#chatHeader {
    background-color: rgb(54, 132, 138);
}

/* #userBox {
    background-color: #000000;
    color:#ffffff;
    font-size: 24px;
    padding: 5px 0 5px 10px;
} */

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

/* .messageBoard {
    float: right;
    /* width: 75%; */
    /* margin-top: -2em;
} */ 

#chatlog >:nth-child(odd) {
    border: 1px solid rgb(127, 188, 192);
    background-color: #e9eff0;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

/* Darker container */
#chatlog >:nth-child(even){
    border: 1px solid rgb(127, 188, 192);
    background-color: #c6e2e1;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}
/* 
.container::after {
    content: "";
    clear: both;
    display: table;
} */

#chatBar {
    background-color: rgb(54, 132, 138);
    padding: 20px;
}

/* .form-inline {
    width: 100%;
    padding: 2%;
    background-color: rgb(54, 132, 138);
} */

#input-message,  {
    /* border: 1px solid rgb(127, 188, 192); */
    border-color: rgb(127, 188, 192);
    /* border-radius: 5px; */
}

#postMessage {
    background-color: rgb(127, 188, 192);
}

.messageText {
    margin: 5px;
    padding: 5px 10px;   
}

.messageHeader {
    background-color: #acacac9d;
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid rgb(127, 188, 192);
    border-radius: 5px;
}

.timeStamp {
    font-size: 12px;
    color: #555555;
}

/* Sidebar
#sidebar {
    width: 35%;
    margin-left: 1.5em;
    margin-top: -2em;
} */

.card-img-top {
    width: 200px;
}

/* @media (max-width: 980px) {
    .Jumbotron {
      width: 100%;
    }
    .messageBoard {
      width: 100%;
      margin: 0 auto;
    }
    #sidebar {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .Jumbotron {
      width: 100%;
    }
    .messageBoard {
      width: 100%;
      margin: 0 auto;
    }
    #sidebar {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    .Jumbotron {
      width: 100%;
    }
    .messageBoard {
      width: 100%;
      margin: 0 auto;
    }
    #sidebar {
      width: 100%;
    }
  } */
