/* scroll bar css */
/* ---------------------------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ---------------------------------- */
body { 
    background-color: rgb(208, 228, 227);  
    font-family: Arial, Helvetica, sans-serif;  
}

.jumbotron {
    background: url(../images/flak-logo-transparent.png) no-repeat;
    background-color: white;
    background-size: auto 100%;
    background-position: center;
    height: 200px;
    margin-top: auto;    
}

#themeDrop {
    position: absolute;
    top: 3%;
    right: 3%;
}

#userName {
    background-color: rgb(54, 132, 138);
    font-size: 30px;
    color: white;
}

#messageBlock {
    visibility: hidden;
}

#dropupBtn {
    color: black;

}

#chooseUser {
    border: 1px solid rgb(127, 188, 192);
    border-radius: 5px;
    padding: 10px;
}

.btn {
    padding: 0 8px 0 8px;
    background-color: rgb(127, 188, 192);
    border: none;
}

#chatHeader {
    background-color: rgb(54, 132, 138);
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

#chatlog >:nth-child(odd) {
    border: 1px solid rgb(127, 188, 192);
    background-color: #e9eff0;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

/* Darker container */
#chatlog >:nth-child(even){
    border: 1px solid rgb(127, 188, 192);
    background-color: #c6e2e1;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

#chatBar {
    background-color: rgb(54, 132, 138);
    padding: 20px;
}

#input-message,  {
    /* border: 1px solid rgb(127, 188, 192); */
    border-color: rgb(127, 188, 192);
    /* border-radius: 5px; */
}

#postMessage {
    background-color: rgb(127, 188, 192);
}

.messageText {
    margin: 5px;
    padding: 5px 10px;   
}

.messageHeader {
    background-color: #acacac9d;
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid rgb(127, 188, 192);
    border-radius: 5px;
}

.timeStamp {
    font-size: 12px;
    color: #555555;
}

.card-img-top {
    width: 200px;
}