/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body { 
    background-color: rgb(208, 228, 227);  
}

.jumbotron {
    background: url(../images/flak-logo-transparent.png) no-repeat;
    background-color: white;
    background-size: auto 100%;
    background-position: center;
    height: 10%;
    margin-top: auto;    
}

/* #styleChangerBtn {
    margin-left: -24em;
    margin-top: auto;
} */

#userName {
    background-color: rgb(54, 132, 138);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

#dropupBtn {
    color: black;

}

#chooseUser {
    border: 1px solid rgb(127, 188, 192);
    border-radius: 5px;
    padding: 10px;
}

.btn {
    padding: 0 8px 0 8px;
    background-color: rgb(127, 188, 192);
    border: none;
}

#chatHeader {
    background-color: rgb(54, 132, 138);
}

h3 {
    background-color: #000000;
    color:#ffffff;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

.messageBoard {
    float: right;
    width: 75%;
    margin-top: -2em;
}


/* Chat boxes */
#lighterContainer{
    border: 1px solid rgb(127, 188, 192);
    background-color: #e9eff0;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

/* Darker container */
.darker {
    border: 1px solid rgb(127, 188, 192);
    background-color: rgb(156, 174, 184);
    border-radius: 5px;
    float: right;
    width: 100%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Images for flag avatars */
#flag {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-left: 10px;
    border-radius: 50%;
}

#flagReply {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-left: 10px;
    border-radius: 50%;
}

.form-inline {
    width: 100%;
    padding: 2%;
    background-color: rgb(54, 132, 138);
}

#input-message {
    border: 1px solid rgb(127, 188, 192);
    border-radius: 5px;
}

#postMessage {
    background-color: rgb(127, 188, 192);
}



/* Sidebar */
#sidebar {
    width: 35%;
    margin-left: 1.5em;
    margin-top: -2em;
}

.card-img-top {
    width: 200px;
}

/* @media (max-width: 980px) {
    .Jumbotron {
      width: 100%;
    }
    .messageBoard {
      width: 100%;
      margin: 0 auto;
    }
    #sidebar {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .Jumbotron {
      width: 100%;
    }
    .messageBoard {
      width: 100%;
      margin: 0 auto;
    }
    #sidebar {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    .Jumbotron {
      width: 100%;
    }
    .messageBoard {
      width: 100%;
      margin: 0 auto;
    }
    #sidebar {
      width: 100%;
    }
  } */
